<h2>Profile Page</h2>

<% if current_user.id == params[:id].to_i %>
	
	<%= image_tag @user.avatar_url(:thumb).to_s %>

	<%= form_for @user do |form| %>
		First Name: <%= form.text_field :first_name %><br/>
		Last Name: <%= form.text_field :last_name %><br/>
		Email : <%= form.text_field :email, readonly: true %><br/>
		Upload Avatar: <%= form.file_field :avatar %><br/>
		<class="submit-field">
		<%= form.submit "Submit" unless @read %><br/>
	<% end %>

<% else %>
	<p>You do not have access to this page.</p>
<% end %>

<%= link_to 'Return', root_path %>